.registerPetDesign{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: -5em;
    flex-direction: column;
    background-color: rgb(175, 240, 229);
}

.registerPetDesign>p{
    margin-top: -2em;
}

.containerRegisterPet{
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #92f3e3;
    box-shadow: 0 .50rem .50rem rgba(0, 0, 0, 0.2), 0 0 2rem rgba(0, 0, 0, 0.2);
}

.containerInput{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // border: 1px solid black;
}
.petPict{
    width: 20%;
    height: 40%;
    border: 1px solid black;
    border-radius: 1em;
}

.containerRegisterPetInput{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(auto,auto);
    gap: 1em;
}