@import '../../Global.scss';

//Vet 
.vetHomeDesign{
    width: 100%;
    height: 100vh;
    @include flex();
    flex-direction: column;
    background-color: rgba(65, 218, 193, 0.137); 
}

.containerCardsVet{
    width: 90%;
    height: 80%;
    @include flex();
    gap: 10em;
}




