@import '../../Global.scss';

.headerDesign {
    height: 17.9vh;
    width: 100%;
    border-bottom: 0.1vh solid rgba(0, 0, 0, 0.164);
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.288);
    position: sticky;
    top: 0;
    @include flex();
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    
}

.logoHeader{
    width: 45%;
    height: 100%;
}

.logoHeaderImg{
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.containerMenu {
    margin-right: 3em;
    @include flex();
    justify-content: space-between;
    gap: 3em;
    font-weight: 600;
    font-size: 17px;
}

.headerButton {
    cursor: pointer;
    color: #3A4A59;
    position: relative;
}

.headerButton:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5fe9d2bb;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.headerButton:hover:before {
    visibility: visible;
    width: 100%;
}