.headerDesign{
    height:19.9vh;
    width: 100%;
    border-bottom: 0.1vh solid rgba(0, 0, 0, 0.164);
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.288);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgb(255, 255, 255);
}

.logo{
    position: absolute;
    top: 4em;
    left: 5em;
}

.containerMenu{
    margin-right: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    font-weight: 600;
}

