@import '../../../Global.scss';

.loginDesign{
    width: 100%;
    height: 82vh;
    @include flex();
    justify-content: left;
    background-color: rgba(65, 218, 193, 0.137); 
    color:#3A4A59;
}

.containerLogin{
    width: 55%;
    height: 30em;
    margin-left: 5em;
    @include flex();
    box-shadow: 10px 10px 10px 0px rgba(7, 7, 7, 0.452);
    background-color: transparent;
}

.containerImg{
    width: 50%;
    height: 100%;
    background-color: rgba(65, 218, 193, 0.137);
    @include flex();
    flex-direction: column;
}

.containerImgCircle{
    width: 65%;
    height: 60%;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.582);
}

.imgLogin{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h2{
    font-weight: 700;
}

.containerImg > p {
    max-width: 60%;
    text-align: center;
    margin-top: -0.5em;
    font-weight: 400;
}

.containerDataLogin{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.containerDataLogin > h1{
    @include flex();
    margin-top: 1.5em;
    font-weight: 500;
    font-size: 30px;
    font-weight: 700;
}

.inputsContainer{
    @include flex();
    flex-direction: column;
    height: max-content;
    margin-top: 5em;
    gap: 1em;
}

.inputEmail, .inputPassword{
    width: 60%;
}

.inputPar{
    font-size: 12px;
    color: #3a4a59cc;
    margin-bottom: -1px;
    font-weight: 500;
}

input{
    width: 100%;
    height: 1.5em;
    //To unable border style default & on Focus
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0.705);
}

.redirRegister{
    text-decoration: underline;
    cursor: pointer;
}

.card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.rotate{
    transform:rotateY(180deg) 
}
.frontCard, .backCard{
    @include flex();
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.backCard{
    transform: rotateY(180deg);
}

//Responsive Design
@media (max-width: 768px){
    .containerLogin{
        width: 85%;
        margin-left: 1em;
    }
}

@media (max-width: 426px){
    .containerLogin{
        width: 100%;
        margin-left: 0em;
        height: 100%;
        margin-bottom: 1em
    }

    .frontCard, .backCard{
        flex-direction: column;
        gap: 1em;
    }

    .containerImg{
        width: 90%; 
    }

    .loginDesign{
        height: 170vh; 
    }

    .containerImg > p {
        margin-top: 0.5em; 
    }

    .containerDataLogin{
        width: 90%; 
        padding-bottom: 1em; 
    }
}

@media (max-width: 321px){
    .containerImg>h2{
        font-size: 18px;
    }

    .containerRegister>p{
        font-size: 14px;
    }
}

