@import '../../../Global.scss';

.loginDesign{
    width: 100%;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgba(65, 218, 193, 0.137); 
    color:#3A4A59;
}

.containerLogin{
    width: 55%;
    height: 30em;
    margin-left: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px 0px rgba(7, 7, 7, 0.452);
    background-color: transparent;
}

.containerImg{
    width: 50%;
    height: 100%;
    background-color: rgba(65, 218, 193, 0.137);
    @include flex();
    flex-direction: column;
}

.containerImgCircle{
    width: 65%;
    height: 60%;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.582);
}

.imgLogin{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h2{
    font-weight: 700;
}

.containerImg > p {
    max-width: 60%;
    text-align: center;
    margin-top: -0.5em;
    font-weight: 400;
}

.containerDataLogin{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.containerDataLogin > h1{
    @include flex();
    margin-top: 1.5em;
    font-weight: 500;
    font-size: 30px;
    font-weight: 700;
}

.inputsContainer{
    @include flex();
    flex-direction: column;
    height: max-content;
    margin-top: 5em;
    gap: 1em;
}

.inputEmail, .inputPassword{
    width: 60%;
}

.inputPar{
    font-size: 12px;
    color: #3a4a59cc;
    margin-bottom: -1px;
    font-weight: 500;
}

input{
    width: 100%;
    height: 1.5em;
    //To unable border style default & on Focus
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0.705);
}

.buttonLogin{
    margin-top: 1em;
    padding: 0.5em 2em;
    border-radius: 1em;
    border: 1px solid black;
    cursor: pointer;
}

.redirRegister{
    text-decoration: underline;
    cursor: pointer;
}


.card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.rotate{
    transform:rotateY(180deg) 
}
.frontCard, .backCard{
    @include flex();
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.backCard{
    transform: rotateY(180deg);
}