@import '../../../../Global.scss';

.myReserveDesign{
    width: 100%;
    min-height: 80vh;
    background-color: rgb(175, 240, 229);
    @include flex();
    flex-direction: column;
    gap: 2em;

}

.containerAppointment{
    width: 50%;
    height: max-content;
    @include flex();
    flex-direction: column;
    gap: 1em;
}

.containerMyReserve{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    @include flex();
    gap: 5em;
}