.menuProfileDesign {
    width: 12%;
    z-index: 1;
    position: absolute;
    top: 4.5em;
    right: 6.5em;
}

.dropdown li {
    list-style: none;
    margin-left: 1.5em;
    margin-top: 1.5em;
    transition: 0.5s ease;
    &:hover {
        border-left: 2px solid rgb(175, 240, 229);
        padding-left: 1em;
        transition: 0.5s ease;
        cursor: pointer;
    }
}

.aProfile{
   text-decoration: none;
   font-weight: 600;
   position: relative;
   opacity: 0%;
   font-size: 18px;
   &:hover{
    color: #000000;
   }
}

.aProfile:before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5fe9d2bb;
    visibility: hidden;
    animation: oneByOne 1s 0.8s forwards;
}

.anim-1{
    animation: oneByOne 1s forwards;
}
.anim-2{
    animation: oneByOne 1s 0.1s forwards;
}
.anim-3{
    animation: oneByOne 1s 0.2s forwards;
}
.anim-4{
    animation: oneByOne 1s 0.3s forwards;
}

@keyframes oneByOne {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
        visibility: visible;
        width: 100%;
    }
}


//Responsive Design
@media (max-width:769px){
    .menuProfileDesign {
        width: 22%;
        top: 5.5em;
        right: 2.5em;
    }
}

@media (max-width:426px){
    .menuProfileDesign {
        width: 47%;
        z-index: 1;
        position: absolute;
        top:7.43em;
        left: 0em;
        background-color: white;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);   
        height: 14em;
    }
    .dropdown{
        padding-top: 1.5em;
    }
    .dropdown li {
        list-style: none;
        margin-left: 1.5em;
        margin-top: 1em;
    }
    .aProfile{
        font-size: 15px;
        font-weight: 400;
     }
}